* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 100px;
}

.logo {
    img {
        position: absolute;
        right: 0px;
        top: 0px;
        margin-right: -50px;
        margin-top: -10px;
    }
}

/* FONDO */
#fondo {
    background-image: url(../Fondos/Cielo.jpg);
    background-size: auto;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    font-family: 'Cinzel', cursive;
}

#fondo2 {
    background-color: #3D3D3D;
    font-family: 'Cinzel', cursive;
}

/* HEADER */
nav {
    position: fixed;
    margin-top: -100px;
    z-index: 50;
    width: 100%;
    height: 100px;
    background: rgba(158, 158, 158, 0.75);
}

.header__menu {
    display: flex;
    list-style: none;
    width: 40%;
    margin: auto;
    height: 100%;
}

.header__menu {
    li {
        flex: 10px;
        text-align: center;
        padding-top: 25px;
    }
}

.header__menu {
    li {
        &:hover {
            background-color: rgba(100, 100, 100, 0.75);
            border-bottom: rgb(255, 170, 120) solid;
            transition: 1s background-color;
        }
    }
}

a {
    text-decoration: none;
    line-height: 3;
    color: seashell;
}

.dropdown {
    ul {
        position: absolute;
        display: none;
        background: rgb(26, 26, 26);
        z-index: 99;
        margin-top: 9%;
        width: 100%;
    }

}

.dropdown {
    ul {
        li {
            list-style: none;
            transition: 1s background-color;
            transition-delay: 1s;
        }

    }
}

.dropdown {
    position: relative;
    transition: 1s background-color;

}

.dropdown {
    &:hover {
        ul {
        display: block;
        }
    }
}

/* LOGO */
.main_logo {
    display: flex;
    justify-content: center;
}

.animate__backInDown {
    animation-duration: 2s;
}

footer {
    background: rgba(158, 158, 158, 0.75);
    margin: 0;
    width: 100%;
    height: 60px;
}

footer {
    img {
        width: 40px;
        position: relative;
        left: 50%;
        top: 12px;
    }
}

@media screen and (max-width: 786px) {
    .main_logo {
        width: 120px;
        height: 750px;
        display: block;
        position: relative;
        top: -100px;
    }
}