main {
    background: rgba(0, 0, 0, 0.75);
    padding-top: 10px;
}

.section__galeria {
    display: grid;
    grid-template-columns: 450px 450px 450px 450px;
    justify-content: center;
}

.section__galeria {
    img {
        width: 450px;
        height: 450px;
        object-fit: cover;
    }
}

.dropdown {
    ul {
        margin-top: 12%;
    }
}